In [351]:
import pandas as pd
import os
import numpy as np
import re
import datetime

In [352]:
ref_df = pd.read_csv('which_race.csv', header=0)
csv_list = os.listdir('clean_frames')
counter = 34

In [353]:
d2 = {}
d3 = {}
for race_id in range(counter):
    d2['race_df_'+str(race_id)]=pd.read_csv('clean_frames/race_df_'+str(race_id)+'.csv')
    d3['pit_stop_df_'+str(race_id)]=pd.read_csv('clean_frames/pit_stop_df_'+str(race_id)+'.csv')

In [354]:
# for i in d2.keys():
#     print(i,'is',d2[i].shape)

In [355]:
def distances(x):
    return x.values[:,None]-x.values

In [356]:
race_df = d2['race_df_12']
# dfone = pd.concat(d2.values())
pit_stop_df = d3['pit_stop_df_12']

In [357]:
race_df['TIME'] = race_df['TIME'].apply(lambda x: int(x.split(':')[0])*60 + float(x.split(':')[1]))

In [359]:
race_df['cumtime']=race_df[['TIME','NO']].groupby('NO').cumsum(skipna=True)

In [360]:
# pit_stop_df.columns

In [361]:
race_df.drop(columns = ['Unnamed: 0'], inplace=True)

In [362]:
pit_stop_df.drop(columns = ['Unnamed: 0','Unnamed: 0.1','Unnamed: 6'], inplace=True)

In [363]:
last_lap = max(race_df['LAP'])

In [364]:
race_df.set_index(['NO','LAP'], inplace=True)

In [365]:
race_df = race_df[~race_df.index.duplicated(keep='first')]

In [367]:
d_gaps={}
for i in range(0,last_lap):
    lap = i+1
#     gaps_df = pd.DataFrame(distances(race_df['TIME'][race_df['LAP']==lap]),columns=list(race_df['NO'][race_df['LAP']==lap ].values),index = race_df['NO'][race_df['LAP']==lap].values)
    gaps_df = pd.DataFrame(distances(race_df['TIME'][race_df.index.get_level_values(1)==lap]),columns=list(race_df.index.get_level_values(0)[race_df.index.get_level_values(1)==lap].values),index = race_df.index.get_level_values(0)[race_df.index.get_level_values(1)==lap].values)
#     print(gaps_df.head(3))
    gaps_df['LAP'] = lap

    gaps_df.reset_index(level=0, inplace=True)

    gaps_df.rename({'index':'NO'},axis='columns',inplace=True)  

#     gaps_df.set_index(['NO','LAP'], inplace=True)
    
    d_gaps['gaps_df_lap_'+str(lap)] = gaps_df
    
#     gaps_df.drop(columns = ['Unnamed: 0'], inplace=True)

In [368]:
# race_df.index.get_level_values(0)[race_df.index.get_level_values(1)==36]

In [370]:
# race_df.set_index(['NO','LAP'], inplace=True)
for i in range(0,last_lap):
    lap = i+1
    print(lap)
    gaps_df = d_gaps['gaps_df_lap_'+str(lap)]    
    gaps_df.set_index(['NO','LAP'], inplace=True)
    if lap==1:
        race_df = race_df.merge(gaps_df, on=['NO','LAP'], how="outer")
    else:
#     elif lap!=36:
        race_df.update(gaps_df, join='left')#, overwrite=True, filter_func=None, raise_conflict=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [254]:
race_df2=race_df.copy()
gaps_df2=d_gaps['gaps_df_lap_36'].copy()
lap = 36

In [265]:
race_df2[(race_df2.index.get_level_values(1)>50) & (race_df2.index.get_level_values(0)==44)]['TIME'].nunique()

20

In [266]:
df3 = race_df2[~race_df2.index.duplicated(keep='first')].copy()

In [270]:
df3[df3.index.get_level_values(1)==36]

,,GAP,TIME,race_id,cumtime,5,44,33,3,7,77,...,21,26,8,55,94,30,9,20,88,12
NO,LAP,,,,,,,,,,,,,,,,,,,,,
5,36,0,77.598,12,2842.356,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,36,1 LAP,78.918,12,2846.067,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,36,9.935,76.791,12,2852.291,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,36,1 LAP,79.286,12,2856.132,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,36,1 LAP,79.870,12,2858.285,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,36,1 LAP,80.187,12,2859.525,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,36,24.603,77.639,12,2866.959,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,36,32.287,77.529,12,2874.643,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36,32.414,79.074,12,2874.770,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,36,34.388,78.220,12,2876.744,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,36,1 LAP,80.038,12,2882.377,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,36,48.487,77.634,12,2890.843,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,36,51.751,78.972,12,2894.107,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,36,PIT,97.178,12,2896.722,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,36,54.578,78.525,12,2896.934,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,36,66.025,79.146,12,2908.381,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,36,66.291,79.221,12,2908.647,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,36,67.909,79.186,12,2910.265,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,36,74.667,78.384,12,2917.023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:

#gaps_df2 = pd.DataFrame(distances(race_df2['TIME'][race_df2['LAP']==lap]),columns=list(race_df2['NO'][race_df2['LAP']==lap ].values),index = race_df2['NO'][race_df2['LAP']==lap].values)


# gaps_df2.rename({'index':'NO'},axis='columns',inplace=True)  

print(gaps_df2.head())
# print(race_df2[race_df2['LAP']==36].head())
print(race_df2[race_df2.index.get_level_values(1)==36].head())
 
# gaps_df2.set_index(['NO','LAP'], inplace=True)
# race_df2.set_index(['NO','LAP'], inplace=True)

# if lap==1:
#     race_df = race_df.merge(gaps_df, on=['NO','LAP'], how="outer")
# else:

race_df2.update(gaps_df2, join='left')#, overwrite=True, filter_func=None, raise_conflict=False)

AttributeError: 'DataFrame' object has no attribute 'lap'

In [247]:
race_df2[(race_df2.index.duplicated())&(race_df2.index.get_level_values(1)==36)]

           GAP    TIME  race_id   cumtime
NO LAP
21 36   82.597  78.886       12  2924.953

In [250]:
race_df[ (race_df2.index.get_level_values(1)==36) & (race_df2.index.get_level_values(0)==21)]

     NO     GAP    TIME  LAP  race_id   cumtime
720  21   1 LAP  78.918   36       12  2846.067
738  21  82.597  78.886   36       12  2924.953

In [157]:
# race_df2[race_df2.index.get_level_values(1)==36]
race_df2[(race_df2['LAP']==36)]

     NO     GAP    TIME  LAP  race_id   cumtime
719   5       0  77.598   36       12  2842.356
720  21   1 LAP  78.918   36       12  2846.067
721  44   9.935  76.791   36       12  2852.291
722   9   1 LAP  79.286   36       12  2856.132
723  20   1 LAP  79.870   36       12  2858.285
724  94   1 LAP  80.187   36       12  2859.525
725  33  24.603  77.639   36       12  2866.959
726  77  32.287  77.529   36       12  2874.643
727   3  32.414  79.074   36       12  2874.770
728   6  34.388  78.220   36       12  2876.744
729  88   1 LAP  80.038   36       12  2882.377
730   7  48.487  77.634   36       12  2890.843
731  27  51.751  78.972   36       12  2894.107
732  12     PIT  97.178   36       12  2896.722
733  55  54.578  78.525   36       12  2896.934
734   8  66.025  79.146   36       12  2908.381
735  11  66.291  79.221   36       12  2908.647
736  26  67.909  79.186   36       12  2910.265
737  14  74.667  78.384   36       12  2917.023
738  21  82.597  78.886   36       12  2924.953

In [111]:
gaps_df

,,5,21,44,9,20,94,33,77,3,6,88,7,27,12,55,8,11,26,14,21
NO,LAP,,,,,,,,,,,,,,,,,,,,
5,36,0.000,-1.320,0.807,-1.688,-2.272,-2.589,-0.041,0.069,-1.476,-0.622,-2.440,-0.036,-1.374,-19.580,-0.927,-1.548,-1.623,-1.588,-0.786,-1.288
21,36,1.320,0.000,2.127,-0.368,-0.952,-1.269,1.279,1.389,-0.156,0.698,-1.120,1.284,-0.054,-18.260,0.393,-0.228,-0.303,-0.268,0.534,0.032
44,36,-0.807,-2.127,0.000,-2.495,-3.079,-3.396,-0.848,-0.738,-2.283,-1.429,-3.247,-0.843,-2.181,-20.387,-1.734,-2.355,-2.430,-2.395,-1.593,-2.095
9,36,1.688,0.368,2.495,0.000,-0.584,-0.901,1.647,1.757,0.212,1.066,-0.752,1.652,0.314,-17.892,0.761,0.140,0.065,0.100,0.902,0.400
20,36,2.272,0.952,3.079,0.584,0.000,-0.317,2.231,2.341,0.796,1.650,-0.168,2.236,0.898,-17.308,1.345,0.724,0.649,0.684,1.486,0.984
94,36,2.589,1.269,3.396,0.901,0.317,0.000,2.548,2.658,1.113,1.967,0.149,2.553,1.215,-16.991,1.662,1.041,0.966,1.001,1.803,1.301
33,36,0.041,-1.279,0.848,-1.647,-2.231,-2.548,0.000,0.110,-1.435,-0.581,-2.399,0.005,-1.333,-19.539,-0.886,-1.507,-1.582,-1.547,-0.745,-1.247
77,36,-0.069,-1.389,0.738,-1.757,-2.341,-2.658,-0.110,0.000,-1.545,-0.691,-2.509,-0.105,-1.443,-19.649,-0.996,-1.617,-1.692,-1.657,-0.855,-1.357
3,36,1.476,0.156,2.283,-0.212,-0.796,-1.113,1.435,1.545,0.000,0.854,-0.964,1.440,0.102,-18.104,0.549,-0.072,-0.147,-0.112,0.690,0.188
6,36,0.622,-0.698,1.429,-1.066,-1.650,-1.967,0.581,0.691,-0.854,0.000,-1.818,0.586,-0.752,-18.958,-0.305,-0.926,-1.001,-0.966,-0.164,-0.666
88,36,2.440,1.120,3.247,0.752,0.168,-0.149,2.399,2.509,0.964,1.818,0.000,2.404,1.066,-17.140,1.513,0.892,0.817,0.852,1.654,1.152
7,36,0.036,-1.284,0.843,-1.652,-2.236,-2.553,-0.005,0.105,-1.440,-0.586,-2.404,0.000,-1.338,-19.544,-0.891,-1.512,-1.587,-1.552,-0.750,-1.252
27,36,1.374,0.054,2.181,-0.314,-0.898,-1.215,1.333,1.443,-0.102,0.752,-1.066,1.338,0.000,-18.206,0.447,-0.174,-0.249,-0.214,0.588,0.086
12,36,19.580,18.260,20.387,17.892,17.308,16.991,19.539,19.649,18.104,18.958,17.140,19.544,18.206,0.000,18.653,18.032,17.957,17.992,18.794,18.292
55,36,0.927,-0.393,1.734,-0.761,-1.345,-1.662,0.886,0.996,-0.549,0.305,-1.513,0.891,-0.447,-18.653,0.000,-0.621,-0.696,-0.661,0.141,-0.361
8,36,1.548,0.228,2.355,-0.140,-0.724,-1.041,1.507,1.617,0.072,0.926,-0.892,1.512,0.174,-18.032,0.621,0.000,-0.075,-0.040,0.762,0.260
11,36,1.623,0.303,2.430,-0.065,-0.649,-0.966,1.582,1.692,0.147,1.001,-0.817,1.587,0.249,-17.957,0.696,0.075,0.000,0.035,0.837,0.335
26,36,1.588,0.268,2.395,-0.100,-0.684,-1.001,1.547,1.657,0.112,0.966,-0.852,1.552,0.214,-17.992,0.661,0.040,-0.035,0.000,0.802,0.300
14,36,0.786,-0.534,1.593,-0.902,-1.486,-1.803,0.745,0.855,-0.690,0.164,-1.654,0.750,-0.588,-18.794,-0.141,-0.762,-0.837,-0.802,0.000,-0.502
21,36,1.288,-0.032,2.095,-0.400,-0.984,-1.301,1.247,1.357,-0.188,0.666,-1.152,1.252,-0.086,-18.292,0.361,-0.260,-0.335,-0.300,0.502,0.000

In [60]:
new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')
# new_df.drop(columns = ['Unnamed: 0','Unnamed: 0'], inplace=True)

In [61]:
new_df.set_index(['NO','LAP'], inplace=True)

In [62]:
# new_df['stop_count'] = np.nan
new_df['stop_count'] = new_df['STOP']
###filling the first lap stop_count0s
new_df['stop_count'][(new_df.index.get_level_values(1)==1) & (new_df['STOP']!=1)] = 0

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [79]:
new_df['d_stop'] = new_df['STOP']>0
new_df['target'] = np.nan

In [80]:
for j in new_df.index.get_level_values(0).unique():  
    x = pd.concat([new_df['stop_count'][new_df.index.get_level_values(0)==j].unstack(0).ffill().stack(0)],axis=1).swaplevel();
    x.columns = ['stop_count'];
    new_df.update(x,join='left');
    new_df['target'][(new_df.index.get_level_values(0)==j)] = new_df['d_stop'][(new_df.index.get_level_values(0)==j)].shift(-1)
# new_df['stop_count'][new_df.index.get_level_values(0)==19]

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [81]:
df= pd.DataFrame([new_df['d_stop'][(new_df.index.get_level_values(0)==5)],new_df['d_stop'][(new_df.index.get_level_values(0)==5)].shift(-1)])
# new_df['stop_count'][new_df.index.get_level_values(0)==19]

In [484]:
# new_df['STOP'].update(new_df['STOP'].groupby(level=0).ffill())

In [494]:
# new_df.update(new_df.groupby(level=0).ffill())
# df = df.groupby(level='group').bfill()
# df = df.unstack(0).bfill().stack().swaplevel(0, 1).reindex_like(df)
# # Column specific
# df.Value = df.groupby(level=0).Value.bfill()

In [656]:
# for _n in new_df.index.get_level_values(0).unique():
#     print(new_df[new_df.index.get_level_values(0)==_n]['STOP'])

In [302]:
# for x in d_gaps.keys():
#      print(d_gaps[x].shape)
# d_gaps['gaps_df_lap_1'].NO.apply(type)
# d_gaps['gaps_df_lap_1'].LAP.apply(type)

In [ ]:
# how do i cycle through laps without loop? can i vectorize?

# how do i impute nan's for running and RF? choose a time which should not matter based on intuition

# exclude teammate from traffic when feature engineering

# tuesday it is 3 minutes (8-10 quick slides)

# wednesday science fair 
'''there will be a screen on a table
CONTEXT talk about the relevance of the problem 10%
PROCESS general strokes of what the model and why i chose to do it like that 40%+
RESULTS results = metrics (predictive power, importance, inference?) 40%+
NEXT STEPS 10%
 '''

In [252]:
ref_df

    race_id  year  race_in_year              track
0         0  2016             0          Melbourne
1         1  2016            10           Budapest
2         2  2016            12  Spa-Francorchamps
3         3  2016            17             Austin
4         4  2016            18        Mexico City
5         5  2016            19          São Paulo
6         6  2016             1             Sakhir
7         7  2016            20         Yas Marina
8         8  2016             2           Shanghai
9         9  2016             3              Sochi
10       10  2016             4          Catalunya
11       11  2016             5        Monte-Carlo
12       12  2016             6           Montréal
13       13  2016             7               Baku
14       14  2016             8          Spielberg
15       15  2016             9        Silverstone
16       16  2017             0          Melbourne
17       17  2017            10           Budapest
18       18  2017            11  Spa-Francorchamps
19       19  2017            12              Monza
20       20  2017            13          Singapore
21       21  2017            14       Kuala Lumpur
22       22  2017            15             Suzuka
23       23  2017            16             Austin
24       24  2017            17        Mexico City
25       25  2017            18          São Paulo
26       26  2017            19         Yas Marina
27       27  2017             1           Shanghai
28       28  2017             2             Sakhir
29       29  2017             3              Sochi
30       30  2017             4          Catalunya
31       31  2017             5        Monte-Carlo
32       32  2017             7               Baku
33       33  2017             9        Silverstone