In [ ]:
'''this script takes a "history" frames reshapes it and merges it with pit stop

the actual data will be stored in 'raw_data' not in '2016race0'

the race_id (which is currently hard coded to 0) 
will be used with the ref_df dataframe to link it to race info (year,progressive number,track)

'''

In [53]:
#import tabula
import pandas as pd
import os
import numpy as np
import re
import datetime

In [54]:
# df_names = []
# for _pdf in os.listdir('2016race0'):
#     if (_pdf.lower().endswith(('.pdf'))) & ('jpg' not in _pdf.lower()):
#         _name = _pdf[7:-9]+'_df'
# #         print(_pdf)
# #         print(_name)
#         df_names.append(_name)
#         exec( _name+" = tabula.read_pdf('2016race0/'+_pdf,pages='all')")
# #        exec(_name+'["race_id"] = 0')
#         exec(_name+".to_csv('2016race0/'+_name+'.csv')")

In [55]:
# df_names = []
# for _csv in os.listdir('2016race0'):
#     if _csv.lower().endswith(('.csv')):
#         _name = _csv[:-4]
# #         print(_csv)
# #         print(_name)
#         df_names.append(_name)
#         exec(_name+" = pd.read_csv('2016race0/'+_name+'.csv')")
# #        exec(_name+"['race_id'] = 0")

In [56]:
#df = history_chart_2_df
df = pd.read_csv('2016race0/history_chart_2_df.csv')
pit_stop_df = pd.read_csv('2016race0/pit_stop_summary_6_df.csv')

In [57]:
df.rename(columns = {'NO':'NO.0','GAP':'GAP.0','TIME':'TIME.0'},inplace=True)

In [58]:
divisorz = df.loc[df['NO.0']=='NO'].index

In [59]:
# slicing the history dataframe horizontally
previous_divisor = -1
for _id,_val in enumerate(divisorz):
#     print (_id,_val)
    exec('df_'+str(_id)+'= df.loc[previous_divisor+1:_val-1]' )
    previous_divisor = _val
    div_counter = _id
last_id = div_counter + 1
exec('df_'+str(last_id)+'= df.loc[previous_divisor+1:]' )

In [60]:
starters = df_1['NO.0'].unique()

In [61]:
def split_PIT(x):
#     print(x)
    if x['NO'] not in starters:
        if pd.notna(x['NO']):
#        if x['NO'].notnull:
            if x['NO'][:-4] in starters:
#            return [1,2,3,4]
#                  print('correcting it')
                 return pd.Series([x['NO'][:-4],'PIT',x['TIME'],x['LAP']])
#             else:
#                  print('trashing it')
#                return pd.Series([None, None, None, None])
        else:
#             print('it is a nan')
            return pd.Series([None, None, None, None])
    else:
#         print('proper')
        return x
        #return [x['NO'],x['GAP'],x['TIME'],x['LAP']]

def split_TIMES(x):
    #print(x)
    if x['NO'] not in starters:
#         print('trashing it')
        return pd.Series([None, None, None, None])
    elif pd.isna(x['GAP']):
#         print('it is (hopefully) the leader')        
#         print(type(x),type(pd.Series([x['NO'],0,x['TIME'],x['LAP']])))
#         print(len(x),len(pd.Series([x['NO'],0,x['TIME'],x['LAP']])))
        return pd.Series([x['NO'],0,x['TIME'],x['LAP']])
    elif (' ' in str(x['GAP'])) & ('LAP' not in str(x['GAP'])):
#         print('correcting it (2)')
        timez = x['GAP'].split()
        return pd.Series([x['NO'],timez[0],timez[1],x['LAP']])
    elif pd.isna(x['TIME']):
#         print('it is a nan')        
        return pd.Series([x['NO'],0,x['GAP'],x['LAP']])
    else:
#         print('proper')
        return x

In [62]:
for j in range(len(divisorz)+1):
#     print('j is ', j)
    for i in [0,1,2,3,4]:
#         print('i is ', i)
#         print('doing lap',j*5+(i+1))
        if j*5+(i+1):
            # Take the horizontal slices and slice them vertically into laps 
            exec('df_lap_'+str(j*5+(i+1))+' = df_'+str(j)+'[["NO.'+str(i)+'","GAP.'+str(i)+'","TIME.'+str(i)+'"]]')
            # add lap feature 
            exec('df_lap_'+str(j*5+(i+1))+'["lap"] = '+str(j*5+(i+1)))
            # uniforming column names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # putting 0 were 'GAP' is none (!!WORKAROUND!!the first row of a frame appear to behave differently than 
            # other rows resulting in adding new columns to the data in an incompatible way. 
            # considering a bug report to pandas developers
            exec('df_lap_'+str(j*5+(i+1))+'["GAP"].fillna(0,inplace=True)')
            # removing empty rows (where racing number is empty)
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )
            # solving the problem of 'PIT' value being collected in the 'NO' field
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'.apply(split_PIT, axis =1)')
            # putting back the right names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # removing empty rows (where racing number is empty).
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )            
            # solving the problem of 'NO' and 'GAP' fields merging
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'.apply(split_TIMES, axis =1)')
            # putting back the right names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # removing empty rows (where racing number is empty).
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/guido/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [63]:
laps_dfs=[]
for j in range(len(divisorz)+1):
    for i in [0,1,2,3,4]:
        exec('laps_dfs.append(df_lap_'+str(j*5+(i+1))+')')

In [64]:
race_df = pd.concat(laps_dfs,ignore_index=True)

race_df['race_id'] = 0

race_df.drop(race_df.index[race_df['NO'].isna()],axis=0, inplace=True)

race_df['NO'] = race_df['NO'].astype('int64')

race_df['LAP'] = race_df['LAP'].astype('int64')

#race_df['GAP'].fillna(0,inplace=True)

In [65]:
starters = starters.astype('int64')

finishers = race_df[race_df['LAP'] == max(race_df['LAP'])]['NO'].unique()

In [66]:
#pit_stop_df = pit_stop_summary_6_df

pit_stop_df = pit_stop_df[pit_stop_df['NO']!='NO']

pit_stop_df.rename(columns = {'S  T  OP':'STOP'},inplace=True)

pit_stop_df['NO'] = pit_stop_df['NO'].astype('int64')

pit_stop_df['LAP'] = pit_stop_df['LAP'].astype('int64')

In [71]:
new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')
new_df.drop(columns = ['Unnamed: 0','Unnamed: 6'], inplace=True)

In [87]:
new_df['TIMESECS'] = new_df['TIME'].apply(lambda x: int(x.split(':')[0])*60 + float(x.split(':')[1]))
new_df['TIME64'] = new_df['TIME'].apply(lambda x: datetime.datetime.strptime(x, "%M:%S.%f"))

In [68]:
# race_df.set_index(['NO','LAP'], inplace=True)
# pit_stop_df.set_index(['NO','LAP'], inplace=True)
# new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')

In [117]:
race_level_df = pit_stop_df[['STOP','NO']][pit_stop_df['NO'].isin(finishers)].groupby('NO').max().reset_index()
race_level_df['race_id'] = 0
#pit_stop_df[['STOP','NO']].groupby('NO').max()

In [93]:
ref_df = pd.read_csv('which_race.csv', header=0)

In [118]:
prova = ref_df.merge(race_level_df.reset_index(), on = ['race_id'], how ='inner')

In [119]:
prova

    race_id  year  race_in_year      track  index  NO STOP
0         0  2016             0  Melbourne      0   3    3
1         0  2016             0  Melbourne      1   5    3
2         0  2016             0  Melbourne      2   6    2
3         0  2016             0  Melbourne      3   8    1
4         0  2016             0  Melbourne      4  11    2
5         0  2016             0  Melbourne      5  12    2
6         0  2016             0  Melbourne      6  19    2
7         0  2016             0  Melbourne      7  20    3
8         0  2016             0  Melbourne      8  22    3
9         0  2016             0  Melbourne      9  27    2
10        0  2016             0  Melbourne     10  30    2
11        0  2016             0  Melbourne     11  33    3
12        0  2016             0  Melbourne     12  44    2
13        0  2016             0  Melbourne     13  55    3
14        0  2016             0  Melbourne     14  77    2
15        0  2016             0  Melbourne     15  94    3

In [112]:
race_level_df = race_level_df.merge(ref_df.reset_index(), on = ['race_id'], how ='inner')

In [121]:
race_level_df = race_level_df.merge(ref_df, on = ['race_id'], how ='inner');
race_level_df

    NO STOP  race_id  year  race_in_year      track
0    3    3        0  2016             0  Melbourne
1    5    3        0  2016             0  Melbourne
2    6    2        0  2016             0  Melbourne
3    8    1        0  2016             0  Melbourne
4   11    2        0  2016             0  Melbourne
5   12    2        0  2016             0  Melbourne
6   19    2        0  2016             0  Melbourne
7   20    3        0  2016             0  Melbourne
8   22    3        0  2016             0  Melbourne
9   27    2        0  2016             0  Melbourne
10  30    2        0  2016             0  Melbourne
11  33    3        0  2016             0  Melbourne
12  44    2        0  2016             0  Melbourne
13  55    3        0  2016             0  Melbourne
14  77    2        0  2016             0  Melbourne
15  94    3        0  2016             0  Melbourne

In [122]:
df = pd.read_csv("race_frames/history_chart_4_df.csv")

In [123]:
df

,Unnamed: 0,NO,GAP,TIME,NO.1,GAP.1,TIME.1,NO.2,GAP.2,TIME.2,NO.3,GAP.3,TIME.3,NO.4,GAP.4,TIME.4
0,0,44,NaN,1:38.829,44,NaN,2:01.377,44,NaN,1:59.340,44,NaN,1:23.397,44,NaN,1:23.045
1,1,6,1.132,1:39.961,6,0.672,2:00.917,6,0.655,1:59.323,6,1.037,1:23.779,6,1.432,1:23.440
2,2,33,1.922,1:40.751,33,1.286,2:00.741,33,1.127,1:59.181,33,1.708,1:23.978,33,2.060,1:23.397
3,3,27,2.432,1:41.261,27,2.266,2:01.211,27,1.601,1:58.675,27,2.456,1:24.252,27,3.232,1:23.821
4,4,7,5.352,1:44.181,7,3.759,1:59.784,7,2.293,1:57.874,7,3.348,1:24.452,7,4.411,1:24.108
5,5,3,PIT,1:45.827,19,4.564,1:58.510,19,2.931,1:57.707,19,4.554,1:25.020,19,5.837,1:24.328
6,6,19,7.431,1:46.260,5,5.185,1:58.193,5,3.492,1:57.647,5,5.328,1:25.233,5,6.656,1:24.373
7,7,5,8.369,1:47.198,77,6.044,1:57.724,77,3.891,1:57.187,77,6.432,1:25.938,77,7.885,1:24.498
8,8,77,9.697,1:48.526,11,7.154,1:57.965,11,4.450,1:56.636,11,6.967,1:25.914,11,8.594,1:24.672
9,9,11,10.566,1:49.395,55,8.648,1:57.402,55,4.904,1:55.596,55,7.498,1:25.991,55,9.457,1:25.004
10,10,55,12.623,1:51.452,14,9.912,1:56.975,14,5.483,1:54.911,14,8.333,1:26.247,14,10.720,1:25.432
11,11,14,14.314,1:53.143,20,10.696,1:57.238,20,5.988,1:54.632,20,9.436,1:26.845,20,13.411,1:27.020
12,12,20,14.835,1:53.664,22,11.541,1:56.691,22,6.466,1:54.265,22,9.782,1:26.713,22,13.907,1:27.170
13,13,22,16.227,1:55.056,21,12.309,1:56.314,21,7.155,1:54.186,21,10.417,1:26.659,21,15.244,1:27.872
14,14,21,17.372,1:56.201,12,12.938,1:56.148,12,7.573,1:53.975,3,11.731,1:26.806,3,15.689,1:27.003
15,15,12,18.167,1:56.996,31,13.714,1:56.353,31,8.001,1:53.627,12,12.133,1:27.957,12,16.400,1:27.312
16,16,31,18.738,1:57.567,3,15.071,2:09.450,3,8.322,1:52.591,26,12.409,1:26.963,26,17.212,1:27.848
17,17,26,20.594,1:59.423,26,16.298,1:57.081,26,8.843,1:51.885,31,12.883,1:28.279,31,17.897,1:28.059
18,18,30,PIT,2:00.672,8,17.345,1:56.735,8,9.303,1:51.298,8,13.228,1:27.322,8,18.420,1:28.237
19,19,8,21.987,2:00.816,30,18.163,1:57.697,30,9.888,1:51.065,30,14.215,1:27.724,9,18.985,1:27.299
20,20,9,PIT,2:05.261,9,34.093,2:09.038,9,10.658,1:35.905,9,14.731,1:27.470,30,19.575,1:28.405
21,21,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME
22,22,44,NaN,1:23.249,44,NaN,1:23.341,44,NaN,1:23.394,44,NaN,1:23.517,44,NaN,1:23.365
23,23,6,1.825,1:23.642,6,2.182,1:23.698,6,2.694,1:23.906,6,2.903,1:23.726,6,3.346,1:23.808
24,24,33,2.533,1:23.722,33,3.174,1:23.982,33,3.606,1:23.826,33,3.935,1:23.846,33,5.019,1:24.449
25,25,27,3.880,1:23.897,27,4.615,1:24.076,27,5.256,1:24.035,27,5.737,1:23.998,27,6.732,1:24.360
26,26,7,4.984,1:23.822,7,6.002,1:24.359,7,6.534,1:23.926,7,6.996,1:23.979,7,7.735,1:24.104
27,27,19,6.846,1:24.258,19,7.788,1:24.283,19,8.888,1:24.494,19,9.583,1:24.212,19,10.704,1:24.486
28,28,5,7.633,1:24.226,5,8.390,1:24.098,5,9.575,1:24.579,5,10.269,1:24.211,5,11.302,1:24.398
29,29,77,9.010,1:24.374,77,10.101,1:24.432,77,11.070,1:24.363,77,11.921,1:24.368,77,13.503,1:24.947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,277,26,1 LAP,1:23.713,7,43.261,1:24.409,7,44.173,1:23.786,7,45.037,1:23.678,12,1 LAP,1:26.730
278,278,77,56.523,1:23.625,26,1 LAP,1:23.826,26,1 LAP,1:24.127,26,1 LAP,1:24.878,26,1 LAP,1:24.902
279,279,20,1 LAP,1:23.688,77,57.469,1:23.772,77,58.209,1:23.614,77,58.999,1:23.604,77,59.906,1:23.540
280,280,21,1 LAP,1:23.568,20,1 LAP,1:23.865,20,1 LAP,1:23.789,20,1 LAP,1:24.011,20,1 LAP,1:23.875
281,281,19,67.287,1:23.843,21,1 LAP,1:23.803,21,1 LAP,1:23.518,21,1 LAP,1:23.456,21,1 LAP,1:23.608
282,282,11,68.842,1:23.756,19,68.138,1:23.677,19,69.098,1:23.834,19,69.860,1:23.576,19,71.013,1:23.786
283,283,8,1 LAP,1:24.187,11,69.623,1:23.607,11,70.416,1:23.667,11,71.329,1:23.727,11,72.400,1:23.704
284,284,NaN,NaN,NaN,8,1 LAP,1:23.719,8,1 LAP,1:23.732,8,1 LAP,1:23.465,8,1 LAP,1:23.878
285,285,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME,NO,GAP,TIME
286,286,44,NaN,1:22.596,44,NaN,1:23.243,44,NaN,1:22.898,44,NaN,1:22.942,44,NaN,1:23.459
287,287,6,9.608,1:23.018,6,9.371,1:23.006,6,9.607,1:23.134,6,9.895,1:23.230,6,9.759,1:23.323
288,288,33,13.534,1:22.887,33,13.761,1:23.470,33,14.657,1:23.794,33,15.672,1:23.957,33,16.525,1:24.312
289,289,5,14.572,1:22.863,5,14.375,1:23.046,5,15.271,1:23.794,5,16.333,1:24.004,5,18.398,1:25.524
290,290,31,2 LAPS,1:27.708,3,16.390,1:21.345,3,16.345,1:22.853,3,16.827,1:23.424,3,19.837,1:26.469
291,291,3,18.288,1:21.684,31,2 LAPS,1:26.793,31,2 LAPS,1:25.610,31,2 LAPS,1:25.236,31,2 LAPS,1:25.614
292,292,9,1 LAP,1:24.340,9,1 LAP,1:24.930,9,1 LAP,1:24.659,9,1 LAP,1:25.000,9,1 LAP,1:25.029
293,293,22,1 LAP,1:24.061,22,1 LAP,1:24.251,22,1 LAP,1:24.355,22,1 LAP,1:24.205,22,1 LAP,1:24.195
294,294,30,1 LAP,1:25.457,14,1 LAP,1:25.906,14,1 LAP,1:23.944,14,1 LAP,1:23.770,14,1 LAP,1:23.668
295,295,14,1 LAP,1:25.500,30,1 LAP,1:28.237,7,48.870,1:23.432,7,49.855,1:23.927,7,49.283,1:22.887
296,296,27,46.367,1:23.552,7,48.336,1:24.652,30,1 LAP,1:26.260,30,1 LAP,1:25.257,30,1 LAP,1:25.038
297,297,7,46.927,1:23.397,55,1 LAP,1:25.522,55,1 LAP,1:25.594,55,1 LAP,1:25.571,27,58.421,1:24.173
298,298,55,1 LAP,1:26.680,12,1 LAP,1:25.613,27,56.135,1:24.565,27,57.707,1:24.514,55,1 LAP,1:27.076
299,299,12,1 LAP,1:25.296,27,54.468,1:31.344,12,1 LAP,1:26.805,12,1 LAP,1:26.009,12,1 LAP,1:25.551
300,300,26,1 LAP,1:24.916,26,1 LAP,1:25.742,26,1 LAP,1:25.351,26,1 LAP,1:25.687,26,1 LAP,1:25.542
301,301,77,60.996,1:23.686,77,61.764,1:24.011,77,62.732,1:23.866,77,64.014,1:24.224,77,65.084,1:24.529
302,302,20,1 LAP,1:23.976,20,1 LAP,1:24.107,20,1 LAP,1:24.291,20,1 LAP,1:24.526,20,1 LAP,1:24.464
303,303,21,1 LAP,1:23.707,21,1 LAP,1:23.950,21,1 LAP,1:23.977,21,1 LAP,1:24.491,21,1 LAP,1:24.332
304,304,19,72.279,1:23.862,19,72.920,1:23.884,19,74.367,1:24.345,19,75.453,1:24.028,19,76.098,1:24.104
305,305,11,73.873,1:24.069,11,74.883,1:24.253,11,75.763,1:23.778,11,76.668,1:23.847,11,77.127,1:23.918
306,306,8,1 LAP,1:23.931,8,1 LAP,1:23.760,8,1 LAP,1:23.789,8,1 LAP,1:24.255,8,1 LAP,1:24.457