In [424]:
import tabula
import pandas as pd
import os
import numpy as np
import re

In [3]:
filenames = ['best_sector_times_64.pdf','official_starting_grid_41.pdf',
'fastest_laps_24.pdf',
'history_chart_25.pdf','pit_stop_summary_29.pdf',
'lap_analysis_25.pdf','provisional_starting_grid_37.pdf',
'lap_chart_31.pdf','speed_trap_45.pdf',
'maximum_speeds_62.pdf']

In [8]:
for pidieffe in filenames:
    #print(pidieffe)
    frame_name = pidieffe[:-4]+'_df'
    #print(frame_name)
    exec( frame_name+" = tabula.read_pdf(pidieffe)")
    #exec(frame_name+".head()")

In [154]:
dfs = []
for _pdf in os.listdir('2016race0'):
    if (_pdf.lower().endswith(('.pdf'))) & ('jpg' not in _pdf.lower()):
        _name = _pdf[7:-9]+'_df'
#         print(_pdf)
#         print(_name)
        dfs.append(_name)
        exec( _name+" = tabula.read_pdf('2016race0/'+_pdf,pages='all')")
        exec(_name+".to_csv('2016race0/'+_name+'.csv')")

In [606]:
for _csv in os.listdir('2016race0'):
    if _csv.lower().endswith(('.csv')):
        _name = _csv[:-4]
#         print(_csv)
#         print(_name)
        exec(_name+" = pd.read_csv('2016race0/'+_name+'.csv')")

In [607]:
df = history_chart_2_df

In [608]:
df.rename(columns = {'NO':'NO.0','GAP':'GAP.0','TIME':'TIME.0'},inplace=True)

In [609]:
stopperz = df.loc[df['NO.0']=='NO'].index

In [610]:
last_stopper = -1
for _id,_val in enumerate(stopperz):
    #print (_id,_val)
    exec('df_'+str(_id)+'= df.loc[last_stopper+1:_val-1]' )
    last_stopper = _val

In [611]:
for j in range(len(stopperz)):
    for i in [0,1,2,3,4]:        
        exec('df_lap_'+str(j*5+(i+1))+' = df_'+str(j)+'[["NO.'+str(i)+'","GAP.'+str(i)+'","TIME.'+str(i)+'"]]')
        exec('df_lap_'+str(j*5+(i+1))+'["lap"] = '+str(j*5+(i+1)))
        exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [612]:
starters = df_lap_1['NO'].unique()

In [613]:
def split_PIT(x):
    if x['NO'] not in starters:
        if pd.notna(x['NO']):
            if x['NO'][:-4] in starters:
#            return [1,2,3,4]
                #print('correcting it')
                return pd.Series([x['NO'][:-4],'PIT',x['TIME'],x['LAP']])
#             else:
#                 #print('trashing it')
#                 return pd.Series([None, None, None, None])
        else:
            #print('nan')
            return pd.Series([None, None, None, None])
    else:
        #print('starter')
        return x
        #return [x['NO'],x['GAP'],x['TIME'],x['LAP']]

In [614]:
df_lap_18 = df_lap_18.apply(split_PIT, axis =1)

In [615]:
df_lap_18.columns = ["NO","GAP","TIME","LAP"]

In [616]:
def split_TIMES(x):
    if x['NO'] not in starters:
        return pd.Series([None, None, None, None])
    elif ' ' in x['GAP']:
        timez = x['GAP'].split()
        return pd.Series([x['NO'],timez[0],timez[1],x['LAP']])
    elif pd.isna(x['TIME']):
        return pd.Series([x['NO'],0,x['GAP'],x['LAP']])
    else:
        return x

In [617]:
df_lap_19 = df_lap_19.apply(split_TIMES,axis =1)

In [619]:
laps_dfs=[]
for j in range(len(stopperz)):
    for i in [0,1,2,3,4]:
        exec('laps_dfs.append(df_lap_'+str(j*5+(i+1))+')')

In [620]:
race_df = pd.concat(laps_dfs,ignore_index=True)

In [621]:
race_df.drop(race_df.index[race_df['NO'].isna()],axis=0, inplace=True)

In [622]:
race_df['GAP'].fillna(0,inplace=True)

In [623]:
pit_stop_df = pit_stop_summary_6_df

In [624]:
pit_stop_df = pit_stop_df[pit_stop_df['NO']!='NO']

In [625]:
pit_stop_df.rename(columns = {'S  T  OP':'STOP'},inplace=True)

/Users/guido/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [626]:
pit_stop_df['NO'] = pit_stop_df['NO'].astype('int64')

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [629]:
pit_stop_df['LAP'] = pit_stop_df['LAP'].astype('int64')

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [630]:
race_df['NO'] = race_df['NO'].astype('int64')

In [631]:
race_df['LAP'] = race_df['LAP'].astype('int64')

In [632]:
race_df.set_index(['NO','LAP'], inplace=True)
pit_stop_df.set_index(['NO','LAP'], inplace=True)

In [634]:
new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')

In [635]:
new_df.drop(columns = ['Unnamed: 0','Unnamed: 6'], inplace=True)

In [636]:
new_df

,,GAP,TIME,DRIVER,ENTRANT,TIME OF DAY,STOP,DURATION,TOTAL TIME
NO,LAP,,,,,,,,
5,1,0,1:36.916,NaN,NaN,NaN,NaN,NaN,NaN
7,1,1.514,1:38.430,NaN,NaN,NaN,NaN,NaN,NaN
6,1,2.400,1:39.316,NaN,NaN,NaN,NaN,NaN,NaN
33,1,3.158,1:40.074,NaN,NaN,NaN,NaN,NaN,NaN
19,1,4.108,1:41.024,NaN,NaN,NaN,NaN,NaN,NaN
44,1,4.373,1:41.289,NaN,NaN,NaN,NaN,NaN,NaN
55,1,5.149,1:42.065,NaN,NaN,NaN,NaN,NaN,NaN
27,1,6.518,1:43.434,NaN,NaN,NaN,NaN,NaN,NaN
3,1,6.860,1:43.776,NaN,NaN,NaN,NaN,NaN,NaN
14,1,7.631,1:44.547,NaN,NaN,NaN,NaN,NaN,NaN
11,1,8.163,1:45.079,NaN,NaN,NaN,NaN,NaN,NaN
22,1,8.593,1:45.509,NaN,NaN,NaN,NaN,NaN,NaN
30,1,9.339,1:46.255,NaN,NaN,NaN,NaN,NaN,NaN
94,1,10.062,1:46.978,NaN,NaN,NaN,NaN,NaN,NaN
9,1,10.636,1:47.552,NaN,NaN,NaN,NaN,NaN,NaN
12,1,11.156,1:48.072,NaN,NaN,NaN,NaN,NaN,NaN
77,1,11.413,1:48.329,NaN,NaN,NaN,NaN,NaN,NaN
8,1,12.463,1:49.379,NaN,NaN,NaN,NaN,NaN,NaN
88,1,13.066,1:49.982,NaN,NaN,NaN,NaN,NaN,NaN
21,1,16.403,1:53.319,NaN,NaN,NaN,NaN,NaN,NaN
20,1,PIT,3:00.423,K. MAGNUSSEN,Renault Sport F1 Team,16:09:48,1,27.831,27.831
5,2,0,1:31.664,NaN,NaN,NaN,NaN,NaN,NaN
7,2,1.741,1:31.891,NaN,NaN,NaN,NaN,NaN,NaN
6,2,2.773,1:32.037,NaN,NaN,NaN,NaN,NaN,NaN
33,2,3.819,1:32.325,NaN,NaN,NaN,NaN,NaN,NaN
19,2,5.371,1:32.927,NaN,NaN,NaN,NaN,NaN,NaN
44,2,6.110,1:33.401,NaN,NaN,NaN,NaN,NaN,NaN
55,2,7.015,1:33.530,NaN,NaN,NaN,NaN,NaN,NaN
27,2,8.770,1:33.916,NaN,NaN,NaN,NaN,NaN,NaN
3,2,9.466,1:34.270,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22,54,1 LAP,1:34.490,NaN,NaN,NaN,NaN,NaN,NaN
44,54,7.860,1:31.044,NaN,NaN,NaN,NaN,NaN,NaN
5,54,8.305,1:30.907,NaN,NaN,NaN,NaN,NaN,NaN
3,54,22.494,1:30.953,NaN,NaN,NaN,NaN,NaN,NaN
19,54,53.098,1:33.622,NaN,NaN,NaN,NaN,NaN,NaN
94,54,1 LAP,1:37.817,NaN,NaN,NaN,NaN,NaN,NaN
8,54,67.547,1:33.602,NaN,NaN,NaN,NaN,NaN,NaN
27,54,69.829,1:33.602,NaN,NaN,NaN,NaN,NaN,NaN
77,54,70.663,1:33.695,NaN,NaN,NaN,NaN,NaN,NaN
55,54,71.029,1:33.582,NaN,NaN,NaN,NaN,NaN,NaN
33,54,73.415,1:31.745,NaN,NaN,NaN,NaN,NaN,NaN
30,54,79.829,1:33.184,NaN,NaN,NaN,NaN,NaN,NaN
11,54,82.279,1:33.757,NaN,NaN,NaN,NaN,NaN,NaN
20,54,82.886,1:33.570,NaN,NaN,NaN,NaN,NaN,NaN
6,55,0,1:32.350,NaN,NaN,NaN,NaN,NaN,NaN
12,55,1 LAP,1:34.267,NaN,NaN,NaN,NaN,NaN,NaN
22,55,1 LAP,1:32.715,NaN,NaN,NaN,NaN,NaN,NaN
44,55,6.676,1:31.166,NaN,NaN,NaN,NaN,NaN,NaN
5,55,11.194,1:35.239,NaN,NaN,NaN,NaN,NaN,NaN
3,55,21.920,1:31.776,NaN,NaN,NaN,NaN,NaN,NaN
19,55,54.566,1:33.818,NaN,NaN,NaN,NaN,NaN,NaN
8,55,68.665,1:33.468,NaN,NaN,NaN,NaN,NaN,NaN
27,55,71.073,1:33.594,NaN,NaN,NaN,NaN,NaN,NaN
77,55,72.028,1:33.715,NaN,NaN,NaN,NaN,NaN,NaN
55,55,73.032,1:34.353,NaN,NaN,NaN,NaN,NaN,NaN
33,55,73.852,1:32.787,NaN,NaN,NaN,NaN,NaN,NaN
94,55,1 LAP,1:42.631,NaN,NaN,NaN,NaN,NaN,NaN
30,55,80.726,1:33.247,NaN,NaN,NaN,NaN,NaN,NaN
20,55,83.778,1:33.242,NaN,NaN,NaN,NaN,NaN,NaN
11,55,86.288,1:36.359,NaN,NaN,NaN,NaN,NaN,NaN