In [ ]:
'''this script takes a "history" frames reshapes it and merges it with pit stop

the actual data will be stored in 'raw_data' not in '2016race0'

the race_id (which is currently hard coded to 0) 
will be used with the ref_df dataframe to link it to race info (year,progressive number,track)

'''

In [53]:
#import tabula
import pandas as pd
import os
import numpy as np
import re
import datetime

In [54]:
# df_names = []
# for _pdf in os.listdir('2016race0'):
#     if (_pdf.lower().endswith(('.pdf'))) & ('jpg' not in _pdf.lower()):
#         _name = _pdf[7:-9]+'_df'
# #         print(_pdf)
# #         print(_name)
#         df_names.append(_name)
#         exec( _name+" = tabula.read_pdf('2016race0/'+_pdf,pages='all')")
# #        exec(_name+'["race_id"] = 0')
#         exec(_name+".to_csv('2016race0/'+_name+'.csv')")

In [55]:
# df_names = []
# for _csv in os.listdir('2016race0'):
#     if _csv.lower().endswith(('.csv')):
#         _name = _csv[:-4]
# #         print(_csv)
# #         print(_name)
#         df_names.append(_name)
#         exec(_name+" = pd.read_csv('2016race0/'+_name+'.csv')")
# #        exec(_name+"['race_id'] = 0")

In [56]:
#df = history_chart_2_df
df = pd.read_csv('2016race0/history_chart_2_df.csv')
pit_stop_df = pd.read_csv('2016race0/pit_stop_summary_6_df.csv')

In [57]:
df.rename(columns = {'NO':'NO.0','GAP':'GAP.0','TIME':'TIME.0'},inplace=True)

In [58]:
divisorz = df.loc[df['NO.0']=='NO'].index

In [59]:
# slicing the history dataframe horizontally
previous_divisor = -1
for _id,_val in enumerate(divisorz):
#     print (_id,_val)
    exec('df_'+str(_id)+'= df.loc[previous_divisor+1:_val-1]' )
    previous_divisor = _val
    div_counter = _id
last_id = div_counter + 1
exec('df_'+str(last_id)+'= df.loc[previous_divisor+1:]' )

In [60]:
starters = df_1['NO.0'].unique()

In [61]:
def split_PIT(x):
#     print(x)
    if x['NO'] not in starters:
        if pd.notna(x['NO']):
#        if x['NO'].notnull:
            if x['NO'][:-4] in starters:
#            return [1,2,3,4]
#                  print('correcting it')
                 return pd.Series([x['NO'][:-4],'PIT',x['TIME'],x['LAP']])
#             else:
#                  print('trashing it')
#                return pd.Series([None, None, None, None])
        else:
#             print('it is a nan')
            return pd.Series([None, None, None, None])
    else:
#         print('proper')
        return x
        #return [x['NO'],x['GAP'],x['TIME'],x['LAP']]

def split_TIMES(x):
    #print(x)
    if x['NO'] not in starters:
#         print('trashing it')
        return pd.Series([None, None, None, None])
    elif pd.isna(x['GAP']):
#         print('it is (hopefully) the leader')        
#         print(type(x),type(pd.Series([x['NO'],0,x['TIME'],x['LAP']])))
#         print(len(x),len(pd.Series([x['NO'],0,x['TIME'],x['LAP']])))
        return pd.Series([x['NO'],0,x['TIME'],x['LAP']])
    elif (' ' in str(x['GAP'])) & ('LAP' not in str(x['GAP'])):
#         print('correcting it (2)')
        timez = x['GAP'].split()
        return pd.Series([x['NO'],timez[0],timez[1],x['LAP']])
    elif pd.isna(x['TIME']):
#         print('it is a nan')        
        return pd.Series([x['NO'],0,x['GAP'],x['LAP']])
    else:
#         print('proper')
        return x

In [62]:
for j in range(len(divisorz)+1):
#     print('j is ', j)
    for i in [0,1,2,3,4]:
#         print('i is ', i)
#         print('doing lap',j*5+(i+1))
        if j*5+(i+1):
            # Take the horizontal slices and slice them vertically into laps 
            exec('df_lap_'+str(j*5+(i+1))+' = df_'+str(j)+'[["NO.'+str(i)+'","GAP.'+str(i)+'","TIME.'+str(i)+'"]]')
            # add lap feature 
            exec('df_lap_'+str(j*5+(i+1))+'["lap"] = '+str(j*5+(i+1)))
            # uniforming column names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # putting 0 were 'GAP' is none (!!WORKAROUND!!the first row of a frame appear to behave differently than 
            # other rows resulting in adding new columns to the data in an incompatible way. 
            # considering a bug report to pandas developers
            exec('df_lap_'+str(j*5+(i+1))+'["GAP"].fillna(0,inplace=True)')
            # removing empty rows (where racing number is empty)
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )
            # solving the problem of 'PIT' value being collected in the 'NO' field
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'.apply(split_PIT, axis =1)')
            # putting back the right names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # removing empty rows (where racing number is empty).
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )            
            # solving the problem of 'NO' and 'GAP' fields merging
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'.apply(split_TIMES, axis =1)')
            # putting back the right names
            exec('df_lap_'+str(j*5+(i+1))+'.columns = ["NO","GAP","TIME","LAP"]')
            # removing empty rows (where racing number is empty).
            exec('df_lap_'+str(j*5+(i+1))+' = df_lap_'+str(j*5+(i+1))+'[df_lap_'+str(j*5+(i+1))+'["NO"].notnull()]' )

/Users/guido/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/guido/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [63]:
laps_dfs=[]
for j in range(len(divisorz)+1):
    for i in [0,1,2,3,4]:
        exec('laps_dfs.append(df_lap_'+str(j*5+(i+1))+')')

In [64]:
race_df = pd.concat(laps_dfs,ignore_index=True)

race_df['race_id'] = 0

race_df.drop(race_df.index[race_df['NO'].isna()],axis=0, inplace=True)

race_df['NO'] = race_df['NO'].astype('int64')

race_df['LAP'] = race_df['LAP'].astype('int64')

#race_df['GAP'].fillna(0,inplace=True)

In [65]:
starters = starters.astype('int64')
finishers = race_df[race_df['LAP'] == max(race_df['LAP'])]['NO'].unique()

In [66]:
#pit_stop_df = pit_stop_summary_6_df

pit_stop_df = pit_stop_df[pit_stop_df['NO']!='NO']

pit_stop_df.rename(columns = {'S  T  OP':'STOP'},inplace=True)

In [67]:
pit_stop_df['NO'] = pit_stop_df['NO'].astype('int64')

pit_stop_df['LAP'] = pit_stop_df['LAP'].astype('int64')

In [71]:
new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')
new_df.drop(columns = ['Unnamed: 0','Unnamed: 6'], inplace=True)

In [87]:
new_df['TIMESECS'] = new_df['TIME'].apply(lambda x: int(x.split(':')[0])*60 + float(x.split(':')[1]))
new_df['TIME64'] = new_df['TIME'].apply(lambda x: datetime.datetime.strptime(x, "%M:%S.%f"))

In [68]:
# race_df.set_index(['NO','LAP'], inplace=True)
# pit_stop_df.set_index(['NO','LAP'], inplace=True)
# new_df = race_df.merge(pit_stop_df, on = ['NO','LAP'], how ='outer')

In [117]:
race_level_df = pit_stop_df[['STOP','NO']][pit_stop_df['NO'].isin(finishers)].groupby('NO').max().reset_index()
race_level_df['race_id'] = 0
#pit_stop_df[['STOP','NO']].groupby('NO').max()

In [93]:
ref_df = pd.read_csv('which_race.csv', header=0)

In [118]:
prova = ref_df.merge(race_level_df.reset_index(), on = ['race_id'], how ='inner')

In [119]:
prova

    race_id  year  race_in_year      track  index  NO STOP
0         0  2016             0  Melbourne      0   3    3
1         0  2016             0  Melbourne      1   5    3
2         0  2016             0  Melbourne      2   6    2
3         0  2016             0  Melbourne      3   8    1
4         0  2016             0  Melbourne      4  11    2
5         0  2016             0  Melbourne      5  12    2
6         0  2016             0  Melbourne      6  19    2
7         0  2016             0  Melbourne      7  20    3
8         0  2016             0  Melbourne      8  22    3
9         0  2016             0  Melbourne      9  27    2
10        0  2016             0  Melbourne     10  30    2
11        0  2016             0  Melbourne     11  33    3
12        0  2016             0  Melbourne     12  44    2
13        0  2016             0  Melbourne     13  55    3
14        0  2016             0  Melbourne     14  77    2
15        0  2016             0  Melbourne     15  94    3

In [112]:
race_level_df = race_level_df.merge(ref_df.reset_index(), on = ['race_id'], how ='inner')

In [121]:
race_level_df = race_level_df.merge(ref_df, on = ['race_id'], how ='inner');
race_level_df

    NO STOP  race_id  year  race_in_year      track
0    3    3        0  2016             0  Melbourne
1    5    3        0  2016             0  Melbourne
2    6    2        0  2016             0  Melbourne
3    8    1        0  2016             0  Melbourne
4   11    2        0  2016             0  Melbourne
5   12    2        0  2016             0  Melbourne
6   19    2        0  2016             0  Melbourne
7   20    3        0  2016             0  Melbourne
8   22    3        0  2016             0  Melbourne
9   27    2        0  2016             0  Melbourne
10  30    2        0  2016             0  Melbourne
11  33    3        0  2016             0  Melbourne
12  44    2        0  2016             0  Melbourne
13  55    3        0  2016             0  Melbourne
14  77    2        0  2016             0  Melbourne
15  94    3        0  2016             0  Melbourne